* {
    font-family: sans-serif;
}
/* .........HEADER......... */
header{
    height: 5em;
    width: 100%;
    background-color:#2a4d69;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}
.topnav{
    padding: 1.5em;
}
.topnav a{
    color: 	#e7eff6;
    text-decoration: none;
    padding: 1em;
    font-weight:lighter;
    font-size:larger;
    margin: 1em;
    text-align: center;
    position: relative;
}
header a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
/* ....................... */


/* .........FOOTER......... */
footer{
    height: 4em;
    width: 100%;
    background-color:#2a4d69;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
footer .media{
    text-align: center;
    justify-items:flex-start;
}
.media span{
    display:inline-block;
    padding: 1em;
}
span a img{
    border-style: solid;
    border-color: #e7eff6;
    border-radius: 50%;
}
/* ....................... */


/* .........INDEX......... */
.profile{
    height: 100vh;
    width: 100%;
    position:static;
    background-color:#e7eff6;
}
.profile .fname{
    width: 100%;
    height: 60vh;
    padding: 10em;
}
.profile .fname h1{
    color: #4b86b4;
    font-weight:1000;
    font-size: 90px; 
    font-stretch:ultra-condensed;
    text-decoration: underline;
    line-height: 1.5em;
}
.profile h1 span{
    color: #e7eff6;
    background-color:#4b86b4;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90px;
}
.profile .talent{
    width: 100%;
    height: 40vh;
}
.talent p{
    color: #4b86b4;
    font-size:medium;
    font-weight: bold;
    padding-top: 2em;
}
/* ....................... */


/* .........ABOUT......... */
/* ABOUT */
.about{
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    position:static;
    padding: 8em;
    padding-top: 10em;
}
.pic{
    width: 40%;
    height: max-content;
    float: left;
}
.pic img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border-style:dashed;
    border-width: 20px;
    border-color: #2a4d69;
}
.para{
    float: right;
    height: 60vh;
    width: 50%;
}
.para p{
    color: #2a4d69;
    text-indent: 3em;
    font-size: large;
    border-top-style: solid;
    border-top-color: #adcbe3;
    border-top-width: 10px;
    border-bottom-style: solid;
    border-bottom-color:#adcbe3;
    border-bottom-width: 10px;
    line-height: 2.5em;
    text-align: justify;
}
/* ....................... */


/* .........KNOWLEDGE......... */
.knowledge{
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    position:static;
    background-color: #e7eff6;
    padding: 5em;
    padding-top: 10em;
}
.knowledge .progknow{
    width: 50%;
    height: 60vh;
    float: left;
}
.progknow h1{
    width:100%;
    font-size:30px;
    font-weight: bolder;
    color: #e7eff6;
    padding: 1em;
    background-color: #4b86b4;
}
.progknow h4{
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    color: #2a4d69;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
.progknow .contents{
    padding: 1em;
    line-height: 2em;
    border-style:dashed;
    border-radius: 10px;
    border-color: #4b86b4;
}
.container .contents p{
    color: #2a4d69;
    font-size: 15px;
    font-weight: bold;

}
.knowledge .media{
    width: 50%;
    height: 60vh;
    float: right;
}
.media h1{
    width:100%;
    font-size:30px;
    font-weight: bolder;
    color: #e7eff6;
    padding: 1em;
    background-color: #4b86b4;
}
.media .contents{
    padding: 3em;
    border-style:solid;
    border-color: #4b86b4;
}
.media .contents p{
    background-color: #adcbe3;
    padding: 1em;
    color: #2a4d69;
    font-size: 15px;
    font-weight: bolder;
    border-right-style: solid;
    border-width: 5px;
    border-left-style: solid;
}
/* ....................... */


/* .........EXPERIENCES......... */
.exp{
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    position:static;
    background-color: #e7eff6;
    padding: 5em;
    padding-top: 10em;
}
.exp h1{
    width:100%;
    font-size:30px;
    font-weight: bolder;
    color: #e7eff6;
    padding: 1em;
    background-color: #4b86b4;
    margin-bottom: 1em;
}
.exp .container .col img{
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #4b86b4;
    border-width: 10px;
}
.col h4{
    font-size:20px;
    padding: 1em;
    font-weight: bold;
    color: #4b86b4;
}
.col h6{
    font-weight: bold;
    background-color: #4b86b4;
    padding: 1em;
    color: #e7eff6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    body{
        margin: 0;
        width:100vw;
        height: 100vh;
        overflow: auto;
    }
    
    /* .........HEADER......... */
    header{
        height: 5em;
        width: 100%;
        background-color:#2a4d69;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
    }
    .topnav{
        padding: 1em;
    }
    .topnav a{
        color: 	#e7eff6;
        text-decoration: none;
        padding: 1em;
        font-weight:bold;
        font-size:10px;
        text-align: center;
    }
    header a:hover{
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
    /* ....................... */


    /* .........FOOTER......... */
    footer{
        height: 4em;
        width: 100%;
        background-color:#2a4d69;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    footer .media{
        text-align: center;
        justify-items:flex-start;
    }
    .media span{
        display:inline-block;
        padding: 1em;
    }
    span a img{
        border-style: solid;
        border-color: #e7eff6;
        border-radius: 50%;
    }
    /* ....................... */

    
    /* .........INDEX......... */
    .profile{
        height: 100vh;
        width: 100%;
        position:static;
        background-color:#e7eff6;
    }
    .profile .fname{
        width: 100%;
        height: 60vh;
        padding: 2em;
    }
    .profile .fname h1{
        padding-top: 3em;
        color: #4b86b4;
        font-size: 40px; 
        font-stretch:ultra-condensed;
        text-decoration: underline;
        line-height: 2em;
    }
    .profile h1 span{
        color: #e7eff6;
        background-color:#4b86b4;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 40px;
    }
    .profile .talent{
        width: 100%;
        height: 40vh;
        padding: 2em;
    }
    .talent p{
        color: #4b86b4;
        font-size:small;
        font-weight: bold;
        padding-top: 2em;
    }
    /* ....................... */


    /* .........ABOUT......... */
    /* ABOUT */
    .about{
        width: 100%;
        height:fit-content;
        top:0;
        left: 0;
        position:static;
        padding: 2em;
        padding-top: 7em;
    }
    .pic{
        width: 100%;
        height: max-content;
        padding-bottom: 2em;
    }
    .pic img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border-style:dashed;
        border-width: 20px;
        border-color: #2a4d69;
    }
    .para{
        height: 60vh;
        width: 100%;
    }
    .para p{
        color: #2a4d69;
        text-indent: 3em;
        font-size: 15px;
        border-top-style: solid;
        border-top-color: #adcbe3;
        border-top-width: 10px;
        border-bottom-style: solid;
        border-bottom-color: #adcbe3;
        border-bottom-width: 10px;
        line-height: 1.5em;
        text-align: justify;
    }
    /* ....................... */


    /* .........KNOWLEDGE......... */
    .knowledge{
        width: 100%;
        height: 100vh;
        overflow: auto;
        top:0;
        left: 0;
        position:static;
        padding: 2em;
        padding-top: 5em;
        padding-bottom: 5em;
        background-color: #e7eff6;
    }
    .knowledge .progknow{
        width: 100%;
        height:max-content;
        position:static;
        padding:1em;
    }
    .progknow h1{
        font-size:15px;
        font-weight: bolder;
        color: #e7eff6;
        padding: 1em;
        background-color: #4b86b4;
    }
    .progknow h4{
        font-size: 10px;
        font-weight: bold;
        color:#4b86b4;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    .progknow .contents{
        line-height: 0.5em;
        border-style:dashed;
        border-radius: 10px;
        border-color: #4b86b4;
    }
    .container .contents p{
        color: #2a4d69;
        font-size: 10px;
        font-weight: bold;
    }
    .knowledge .media{
        width: 100%;
        position:static;
        padding: 1em;
        height: max-content;
    }
    .media h1{
        width:100%;
        font-size:15px;
        font-weight: bolder;
        color: #e7eff6;
        padding: 1em;
        background-color: #4b86b4;
    }
    .media .contents{
        padding: 1em;
        border-style:solid;
        border-color: #4b86b4;
    }
    .media .contents p{
        background-color: #adcbe3;
        color: #2a4d69;
        font-size: 10px;
        font-weight: bolder;
        border-right-style: solid;
        border-width: 5px;
        border-left-style: solid;
    }
    /* ....................... */


    /* .........EXPERIENCES......... */
    .exp{
        width: 100%;
        height: 100vh;
        overflow: auto;
        top:0;
        left: 0;
        position:static;
        padding: 2em;
        padding-top: 7em;
        padding-bottom: 5em;
        background-color: #e7eff6;
    }
    .exp h1{
        width:100%;
        font-size:20px;
        font-weight: bolder;
        color: #e7eff6;
        background-color: #4b86b4;
    }
    .exp .container .col img{
        height: 150px;
        width: 150px;
        border-style: solid;
        border-color: #4b86b4;
        border-width: 10px;
    }
    .col h4{
        font-size:15px;
        padding: 0.5em;
        font-weight: bold;
        color: #4b86b4;
    }
    .col h6{
        font-weight: bold;
        background-color: #4b86b4;
        padding: 1em;
        color: #e7eff6;
        font-size: 10px;
    }

}